/ Checks to see if a user is signed in, if one is, it will list its checklist.
/ If not, it will render the landing page that asks the user to sign up or login.
- if user_signed_in?
  .col-md-6.col-md-offset-3
    - @items.each do |item|
      .index-wrapper
        - if item.completed?
          .row.item
            .col-md-8
              %h2.item-title{:style => "opacity: 0.5;"}
                %strike= link_to item.title, item
              %p.item-sub-title.item-desc{:style => "opacity: 0.5;"}
                - p= truncate(item.description, length: 200)
              %p.time-created-at.item-sub-title{:style => "opacity: 0.5;"}
                Completed #{time_ago_in_words(item.completed_at)} ago
            .col-md-2
              %p
                = link_to complete_item_path(item), method: :patch do
                  %i.fa.fa-check.fa-lg
            .col-md-2
              %p
                = link_to item, method: :delete, data: { confirm: "Are you sure?" } do
                  %i.fa.fa-trash.fa-lg
        - else
          .row.item
            .col-md-8
              %h2.item-title= link_to item.title, item
              %p.item-sub-title.item-desc
                - p= truncate(item.description, length: 200)
              %p.time-created-at.item-sub-title{:style => "opacity: 0.5;"}
                Created #{time_ago_in_words(item.created_at)} ago
            .col-md-2
              %p
                = link_to complete_item_path(item), method: :patch do
                  %i.fa.fa-check.fa-lg
            .col-md-2
              %p
                = link_to item, method: :delete, data: { confirm: "Are you sure?" } do
                  %i.fa.fa-trash.fa-lg
- else
  = render 'layouts/static_landing_page'