.jumbotron
  %h1 Checklist APP
  %p keep track your stuff
  = link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"
  = link_to "Log in", new_user_session_path, class: "btn btn-primary"