!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Checklist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Checklist", root_path, class: "navbar-brand"
        %ul.nav.navbar-nav
          %li= link_to "Sign Up", new_user_registration_path
          - if current_user.present?
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Log in", new_user_session_path
        - if user_signed_in?
          = link_to "New Item", new_item_path, class: "navbar-text navbar-link navbar-right"

    %p.notice= notice
    %p.alert= alert
  .container
    = yield